{
  "user_config": {
    "user_secret": "long-secret-string",
    "admin_secret": "longer-secret-string",
    "session_secrets": {
      "user_max_age": ...,
      "admin_max_age": ...
    }
  },
  "redis": {
    "host": "localhost",
    "port": 6379,
    "database": 4
  },
  "database": {
    "auth_source": "...",
    "username": "...",
    "password": "...",
    "db_name": "...",
    "host": "...",
    "port": 27017,
    "collections": {
      "users": {
        "accounts": "..."
      }
    }
  },
  "emails": {
    "api_key": "...",
    "base_url": "http://192.168.1.119:5132"
  }
}