{
  "user_config": {
    "user_secret": "long-random-string"
  },
  "redis": {
    "host": "localhost",
    "port": 6379,
    "database": 4
  },
  "database": {
    "auth_source": "admin",
    "username": "...",
    "password": "...",
    "db_name": "...",
    "host": "...",
    "port": 27017,
    "collections": {
      "users": {
        "accounts": "..."
      }
    }
  }
}